*{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.container{
     display: flex;
    background-color: white;
    text-align: center;
    justify-content: space-around;
    padding: 35px;
    border: 1px solid rgb(124, 119, 119,0.2);
    height: 80px;
}
.logo{
    display: flex;
}
.link ul{
     margin: 0;
    list-style-type: none;
    display: flex;
    gap: 100px;
    font-weight:lighter;
    font-size: larger;
    margin-left: 200px;
}
.image{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.link a{
    text-decoration: none;
    color: black;
}
.rocketman{
    font-weight:bolder;
    font-size: 40px;
    color: #000;
}
.body{
     display: flex;
    align-items: start;
    justify-content: space-around; 
    margin-top: 60px;
    gap: 20px;
}
.fuelling h1{
    font-size: 70px;
    font-weight: 1000;
    margin-bottom: 40px;
}
.fuelling p{
    font-size: 25px;
    font-weight:lighter;
    line-height: 40px;
}
.fuelling button{
    height: 50px;
    width: 250px;
    font-weight: 500;
    font-size: larger;
    background-color:rgb(145, 64, 220);
    color: white;
    border: none;
    cursor: pointer;
}
.img img{
    height: 400px;
    width: 600px;
    margin-bottom: 100px;
}
.robot p{
    font-size: 30px;
    font-weight: lighter;
    
    text-align: center;
    
    margin-bottom: 100px;
}
table{
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 200px;
}
th,td{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
thead th{
    font-weight: normal;
}




.content{
    margin-top: 50px;
    background-color:rgb(145, 64, 220,0.7) ;
    padding: 60px;
    color: white;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.good h2{
    font-size: 40px;
    font-weight: bold;
}
.good p{
    margin-top: 20px;
    font-size: 25px;
    font-weight: lighter;
}
.but button{
    height: 50px;
    width: 200px;
    font-weight: 500;
    font-size: larger;
    background-color: white;
    border: none;
    cursor: pointer;
}
.footer{
    display: flex;
    align-items: start;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black; 
    color: white;
    gap: 150px;
}
.footer ul{
    list-style-type: none;
    

}
.footer a{
    text-decoration: none;
    color:white;
    font-size: larger;
}
.fa-twitter{
    color: white;
}
.footer p{
    color: gray;
    font-size: medium;
    font-weight: bold;
    margin-bottom:20px ;
}
.footer h5{
    font-size: larger;
    font-weight: normal;
}