*{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.container{
     display: flex;
    background-color: white;
    text-align: center;
    justify-content: space-around;
    padding: 35px;
    border: 1px solid  rgb(124, 119, 119,0.2);
    height: 80px;
}
.logo{
    display: flex;
}
.link ul{
     margin: 0;
    list-style-type: none;
    display: flex;
    gap: 100px;
    font-weight:lighter;
    font-size: larger;
    margin-left: 200px;
}
.image{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.link a{
    text-decoration: none;
    color: black;
}
.rocketman{
    font-weight:bolder;
    font-size: 40px;
    color: #000;
}
.body1{
    border:1px solid black ;
    height: 500px;
    background-color: black;
    color:white; 
    background-image:linear-gradient(180deg, 
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%), url(Images/backg.jpg) ; 
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px; 
    padding-top: 250px;
}
.body1 h3{
    font-size: 70px;  
    font-weight: lighter;
}
.body1 p{
    margin-top: 20px;
    font-size:30px;
} 
.body1 button{
    margin-top: 40px;
    height: 50px;
    width: 200px;
    font-weight:lighter ;
    font-size: 20px;
    cursor: pointer;
}
.body2{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}
.body3{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.toy{
    height: 600px;
    width: 560px;
    border: 1px solid  rgb(128, 128, 128, 0.5);
}
.toy img{
    height: 60%;
    width: 100%;
}
.nasa1{
    height: 600px;
    width: 560px;
    border: 1px solid rgb(128, 128, 128, 0.5);
}
.nasa1 img{
    height: 60%;
    width: 100%;
}
.body3{
    text-align: center; 
}
.body3 h4{
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
.body3 p{
    margin-top: 20px;
    font-size: large;
    margin-bottom:30px ;
}
.body3 a{
    text-decoration: none;
    font-weight: normal;
}
.box1{
    margin-top: 100px;
    margin-left: 50px;
}
.box2{
    border: 1px solid black;
    width: 38%;
    height: 300px;
    background-color: black;
    color: white;
    padding-left: 50px;
    position: relative;
    left: 650px;
    bottom:220px;
}
.box2 h2{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px ;
    margin-top: 40px;

}
.box2 p{
    margin-top: 20px;
    font-size: 25px;
    margin-bottom:20px ;
}
.box2 button{
    height: 50px;
    width: 250px;
    font-weight: lighter;
    cursor: pointer;
} 
.box3{
    /* margin-top: 100px; */
    margin-left: 600px;
}
.box4{
    border: 1px solid black;
    width: 38%;
    height: 300px;
    background-color: black;
    color: white;
    padding-left: 50px;
    position: relative;
    left: 150px;
    bottom:120px;
}
.box4 h2{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px ;
    margin-top: 40px;

}
.box4 p{
    margin-top: 20px;
    font-size: 25px;
    margin-bottom:20px ;
}
.box4 button{
    height: 50px;
    width: 250px;
    font-weight: lighter;
    cursor: pointer;
} 
.box5{
    margin-top: 100px;
    margin-left: 50px;
}
.box6{
    border: 1px solid black;
    width: 38%;
    height: 350px;
    background-color: black;
    color: white;
    padding-left: 50px;
    position: relative;
    left: 650px;
    bottom:220px;
}
.box6 h2{
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px ;
    margin-top: 40px;

}
.box6 p{
    margin-top: 20px;
    font-size: 25px;
    margin-bottom:20px ;
}
.box6 button{
    height: 50px;
    width: 250px;
    font-weight: lighter;
    cursor: pointer;
} 
.line{
    text-align: center;
}
.line h2{
    font-size: 30px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.line button{
    height: 50px;
    width: 200px;
    font-weight: 500;
    font-size: larger;
    background-color:rgb(145, 64, 220,0.7);
    color: white;
    border: none;
    cursor: pointer;
}
.thanks h2{
    margin-top: 100px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.thanks p{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: larger;
}
.content{
    margin-top: 50px;
    background-color:rgb(145, 64, 220,0.7) ;
    padding: 60px;
   
    color: white;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.good h2{
    font-size: 40px;
    font-weight: bold;
}
.good p{
    margin-top: 20px;
    font-size: 25px;
    font-weight: lighter;
}
.but button{
    height: 50px;
    width: 200px;
    font-weight: 500;
    font-size: larger;
    background-color: white;
    border: none;
    cursor: pointer;
}
.footer{
    display: flex;
    align-items: start;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black; 
    color: white;
    gap: 150px;
}
.footer ul{
    list-style-type: none;
    

}
.footer a{
    text-decoration: none;
    color:white;
    font-size: larger;
}
.fa-twitter{
    color: white;
}
.footer p{
    color: gray;
    font-size: medium;
    font-weight: bold;
    margin-bottom:20px ;
}
.footer h5{
    font-size: larger;
    font-weight: normal;
}