*{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.container{
     display: flex;
    background-color: white;
    text-align: center;
    justify-content: space-around;
    padding: 35px;
    border: 1px solid rgb(124, 119, 119,0.2);
    height: 80px;
}
.logo{
    display: flex;
}
.link ul{
     margin: 0;
    list-style-type: none;
    display: flex;
    gap: 100px;
    font-weight:lighter;
    font-size: larger;
    margin-left: 200px;
}
.image{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.link a{
    text-decoration: none;
    color: black;
}
.rocketman{
    font-weight:bolder;
    font-size: 40px;
    color: #000;
}
.services {
    padding-top: 80px;
    padding-left: 20px;
}
.services h1{
    font-size: 70px;
    font-weight: 1000;
    margin-bottom: 40px;
}
.services p{
    font-size: 25px;
    font-weight:lighter;
    margin-bottom: 100px;
}
.body2{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 200px;
}
.toy{
    height: 600px;
    width: 560px;
    border: 1px solid  rgb(128, 128, 128, 0.5);
}
.toy img{
    height: 60%;
    width: 100%;
}
.nasa1{
    height: 600px;
    width: 560px;
    border: 1px solid rgb(128, 128, 128, 0.5);
}
.nasa1 img{
    height: 60%;
    width: 100%;
}
.nasa2{
    height: 600px;
    width: 560px;
    border: 1px solid rgb(128, 128, 128, 0.5);
}
.nasa2 img{
    height: 60%;
    width: 100%;
}
.body2{
    text-align: center; 
}
.body2 h4{
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
.body2 p{
    margin-top: 20px;
    font-size: large;
    margin-bottom:30px ;
}
.body2 a{
    text-decoration: none;
    font-weight: normal;
}
.content{
    margin-top: 50px;
    background-color:rgb(145, 64, 220,0.7) ;
    padding: 60px;
    color: white;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.good h2{
    font-size: 40px;
    font-weight: bold;
}
.good p{
    margin-top: 20px;
    font-size: 25px;
    font-weight: lighter;
}
.but button{
    height: 50px;
    width: 200px;
    font-weight: 500;
    font-size: larger;
    background-color: white;
    border: none;
    cursor: pointer;
}
.footer{
    display: flex;
    align-items: start;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black; 
    color: white;
    gap: 150px;
}
.footer ul{
    list-style-type: none;
    

}
.footer a{
    text-decoration: none;
    color:white;
    font-size: larger;
}
.fa-twitter{
    color: white;
}
.footer p{
    color: gray;
    font-size: medium;
    font-weight: bold;
    margin-bottom:20px ;
}
.footer h5{
    font-size: larger;
    font-weight: normal;
}